@font-face {
  font-family: "DejaVuSansMono";
  src: url("/fonts/DejaVuSansMono.woff2") format("woff2");
}

:root {
  --color-bg: black;
  --color-primary: white;
  --margin: 1em;
  --padding: 0.6em;
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: DejaVuSansMono, monospace;
  background-color: var(--color-bg);
  color: var(--color-primary);
  font-size: 1em;
}

a {
  text-decoration: none;
}

a:visited {
  color: var(--color-primary);
}
